@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Vue风格绿色文字 */
a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

/* 大屏幕布局 */
@media (min-width: 1024px) {
  #app {
    padding: 0 2rem;
  }
}

/* 确保全局样式一致性 */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}